.Breadcrumbs {
	--color: var(--mutedLight);
	display: block;
	font-size: .625rem;
	font-weight: 400;
	letter-spacing: .06em;
	text-transform: uppercase;
}

.Breadcrumbs ul {
	@include listReset(true);
	display: flex;
	align-items: center;
	gap: .5rem;
}

li.Breadcrumbs__item {
	display: flex;
	align-items: center;
}

li.Breadcrumbs__item:before {
	@include pseudoBlock(3px);
	position: static;
	margin-right: 0.5rem;
	background-color: var(--color);
}

li.Breadcrumbs__item:first-child:before {
	display: none;
}

.Breadcrumbs a {
	color: var(--color);
	text-decoration: none;
}

.Breadcrumbs a:hover {
	color: var(--voice);
}

.Breadcrumbs.-inverse {
	--color: #{rgba($white, .3)};
}

.Breadcrumbs.-main {
	@include container;
	margin-top: max(1rem, 3vw);
}
