@import '../../../node_modules/swiper/swiper.scss';

.Slider {
	--navSidePosition: clamp(1.5rem, 20vw, calc(var(--sidePadding) + 20.2rem));
	position: relative;
	padding-left: 0rem;
	padding-right: 0rem;
	user-select: none;
}

.Slider .swiper-container {
	height: 100%;
}

.Slider .swiper-wrapper {
	align-items: stretch;
}

.Slider .swiper-slide {
	height: auto;
}

.Slider__nav {
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 50;
	top: calc(50% + 54px);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #{rgba($inverse,.65)};
}

.Slider__nav:hover .Icon {
	fill: var(--inverse);
}

.Slider__nav .Icon {
	width: 22px;
	height: 42px;
	pointer-events: none;
}

.Slider__nav.-prev {
	left: var(--navSidePosition);
}

.Slider__nav.-next {
	right: var(--navSidePosition);
}

.Slider__nav.-prev .Icon {
	transform: rotate(180deg) !important;
}

.Slider__nav.is-disabled {
	visibility: hidden;
}

.Slider__pagination {
	width: min-content;
	height: 2rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 2.5rem;
	left: 0;
	right: 0;
	z-index: 5;
	background-color: rgba(0,0,0,.4);
	border-radius: 2rem;
}

.Slider__pagination .swiper-pagination-bullet {
	width: 14px;
	height: 14px;
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.Slider__pagination .swiper-pagination-bullet:after {
	width: 6px;
	height: 6px;
	display: block;
	content: '';
	border-radius: 6px;
	background-color: #{rgba($inverse,.2)};
	transition: background-color $duration;
}

.Slider__pagination .swiper-pagination-bullet:hover:after {
	background-color: var(--voice);
}
.Slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
	background-color: var(--inverse);
}

.Slider__slide img {
	pointer-events: none;
}
