:root {
	// Text
	--fontMain:             #{$fontMain};
	--fontSize:             #{$fontSize};
	--lineHeight:           #{$lineHeight};

	// Color
	--brand:                #{$brand};
	--voice:                #{$voice};
		// --success:              #{$success};
		// --danger:               #{$danger};
		// --intense:              #{$intense};
	--major:                #{$major};
		// --minor:                #{$minor};
		// --muted:                #{$muted};
	--mutedLight:           #{$mutedLight};
	--mutedLightest:        #{$mutedLightest};
		// --disabled:             #{$disabled};
	--inverse:              #{$inverse};
	--bg:                   #{$bg};
	--border:               #{$border};

	// Dimensions
	--containerMax:         #{$containerMax};
	--sidePadding:          clamp(1.5rem, 4vw, 4rem);
	--headerHeight:         clamp(64px, 11vw, 104px);

	// Shape
	--radius:              #{$radius};

	--duration-sm:         #{$duration-sm};
	--duration-md:         #{$duration};
	--duration-lg:         #{$duration-lg};
	--duration-xl:         #{$duration-xl};
}
